<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Apricot v 1.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="/templates/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/adminpanel/css/style.css">
</head>

<body>
    <header>
        <div class="container-fluid">
            <p>Вы вошли как: [*username*] (<a href="/adminpanel/logoff">Выйти</a>)</p>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <ul>
                    <li><a href="/adminpanel/organizations">Организации</a></li>
                    <li><a href="/adminpanel/organizations">Список</a></li>
                    <li><a href="/adminpanel/organizations/import">Импорт</a></li>
                </ul>
            </div>
            <div class="col-xs-8">
                [*content*]
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
</body>

</html>
