<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link href="/templates/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/templates/adminpanel/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <form action="/adminpanel/login" method="POST">
            <h2>Форма входа для клиентов</h2>
            <p><input type="text" name="login" value="" placeholder="Ваше логин"></p>
            <p><input type="password" name="pass" value="" placeholder="Ваш пароль"></p>
            <p class="checkbox pull-left"><label><input type="checkbox">Запомнить меня</label></p>
            <button class="pull-right" type="submit">Войти</button>
        </form>
    </div>
</body>
</html>