<div class="orgedit">
    <form method="post" action="/adminpanel/organizations/[*id*]/save">
        <p>Название: <input type="text" name="name" value="[*name*]"></p>
        <p>Полное название: <input type="text" name="fullname" value="[*fullname*]"></p>
        <p>Описание: <textarea name="descr" cols="100" rows="5">[*descr*]</textarea></p>
        <p>Категории: <input type="text" name="cats" value="[*cats*]"></p>
        <p>Адрес: <input type="text" name="address" value="[*address*]"></p>
        <p>Примечание: <input type="text" name="prim" value="[*prim*]"></p>
        <p>Мобильный телефон: <input type="text" name="mobile" value="[*mobile*]"></p>
        <p>Доп. телефоны: <input type="text" name="phones" value="[*phones*]"></p>
        <p>Факсы: <input type="text" name="fax" value="[*fax*]"></p>
        <p>Сайт: <input type="text" name="site" value="[*site*]"></p>
        <p>Email: <input type="text" name="email" value="[*email*]"></p>
        <p>Широта: <input type="text" name="width" value="[*width*]"></p>
        <p>Долгота: <input type="text" name="length" value="[*length*]"></p>
        <p>Facebook: <input type="text" name="facebook" value="[*facebook*]"></p>
        <p>Instagram: <input type="text" name="instagram" value="[*instagram*]"></p>
        <p>Twitter: <input type="text" name="twitter" value="[*twitter*]"></p>
        <p>Vkontakte: <input type="text" name="vk" value="[*vk*]"></p>
        <p>График работы: <input type="text" name="grafik" value="[*grafik*]"></p>
        <p>Услуги: <input type="text" name="yslugi" value="[*yslugi*]"></p>
        <p>Описание: <input type="text" name="opisanie" value="[*opisanie*]"></p>
        <p>Метро: <input type="text" name="metro" value="[*metro*]"></p>
        <p>Расстояние до метро: <input type="text" name="dometro" value="[*dometro*]"></p>
        <p><input type="submit" name="submit" value="Сохранить"></p>
        <input type="hidden" name="id" value="[*id*]">
    </form>
</div>