<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Пользователь</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/templates/css/font-awesome.min.css">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/adminpanel/css/main.css">
    <script src="/templates/js/jquery.min.js"></script>
</head>

<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <p class="logo">Агрегатор</p>
            </div>
            <div class="col-xs-10">
                <p class="user">Вы вошли как: [*username*] (<a href="/adminpanel/logoff">Выйти</a>)</p>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <ul class="topnav menu-left">
                <li>
                    <a><i class="fa fa-list fa-2x" aria-hidden="true"></i>Личные данные <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i></a>
                    <ul>
                        <li><a href="/adminpanel/user"><i class="fa fa-user fa-2x" aria-hidden="true"></i>Просмотр</a></li>
                        <li><a href="/adminpanel/user/edit"><i class="fa fa-edit fa-2x" aria-hidden="true"></i>Редактировать</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-10">
            <div class="content bevel tlbr paper-wrap">
                <div class="alert alert-success [*hide-message*]">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <p>[*message*]</p>
                </div>
                <p class="alert alert-danger [*hide-confirm*]">Ваш аккаунт не подтвержден! Активируете ваш аккаунт, перейдя по ссылке из письма. <a href="/adminpanel/sendmailforcheck">Выслать письмо повторно</a></p>
                [*content*]
                <div id="footer">
                    <p class="copyright">Copyright</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

    </div>
</div>
</body>

</html>
