<html>
<head>
    <meta charset="UTF-8">
    <title>Все организации г. Тольятти</title>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="//yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="/templates/js/main.js" type="text/javascript"></script>
    <link href="/templates/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/templates/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11">
                    Лого
                </div>
                <div class="col-sm-1 authblock">
                    <a href="/adminpanel/">Вход</a>
                </div>
            </div>

        </div>
        <div class="container-fluid">Все организации Москвы</div>
    </header>
    <div class="container-fluid">
        <div class="col-xs-4"></div>
        <div class="col-xs-8">
            <div id="map"></div>
        </div>
    </div>
</body>
</html>