<html>
<head>
    <meta charset="UTF-8">
    <title>[*title*]</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="//yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="/templates/js/main.js" type="text/javascript"></script>
    <link href="/templates/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/templates/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1">
                    <div class="logo">Агрегатор</div>
                </div>
                <div class="col-sm-10 menublock">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О сервисе</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-sm-1 authblock">
                    <a href="/adminpanel/">Вход</a>
                </div>
            </div>

        </div>
    </header>
    <div class="container-fluid">
        <div class="col-xs-4">
            <div class="descr-wrapper white-box">
                <h1>[*descr-title*]</h1>
                <p class="descr">[*descr*]</p>
            </div>
            <div class="search-wrapper white-box">
                <form action="/search" method="post">
                    <input type="text" name="search" value="" placeholder="Введите название организации"><input type="submit" name="submit" value="Найти">
                </form>
                <p><input type="checkbox" name="with-mobile" class="with-mobile"><label for="with-mobile">С телефоном</label></p>
            </div>
            <div class="orgsList white-box">
                <ul>[*orgs*]</ul>
                <p><a href="/next-page" class="nextpage">Показать ещё организации</a></p>
            </div>
        </div>
        <div class="col-xs-8">
            <div id="map"></div>
        </div>
    </div>
</body>
</html>