html {
    margin:0;
    padding:0;
}

body {
    background: url(../img/bg.jpg) no-repeat fixed;
    background-size: 100%;
    font-family: 'Oxygen', sans-serif !important;
}

header {
    width: 100%;
    height: 45px;
    background: #405685;
    margin-bottom: 10px;
    border-bottom: solid 1px #6280a2;
}

header .logo {
    font-size: 20px;
    line-height: 45px;
    color:#fff;
}

header .menublock ul {
    line-height: 45px;
}

header .menublock ul li{
    float: left;
    margin: 0px 25px;
    list-style: none;
}

header .menublock ul li a {
    font-size: 20px;
    color:#fff;
}

header .authblock {
    float: right;
    height: 45px;
    width: 70px;
    border-left: 1px solid #363749;
    border-left: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 #4f5063;
    -moz-box-shadow: inset 1px 0 0 #4f5063;
    box-shadow: inset 1px 0 0 #4f5063;
    -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.08);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.08);
    box-shadow: inset 1px 0 0 rgba(255,255,255,.08);
    color: #a3a4ae;
    color: rgba(234,235,242,.5);
}

header .authblock a {
    line-height: 45px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;

    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    float: right;
}

header .authblock a:hover {
    color: #a3a4ae;
    color: rgba(234,235,242,.7);
}

#map {
    height:100%;
    width: 100%;
}

.white-box {
    background: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.15);
    box-shadow: 0 0 8px rgba(0,0,0,.15);
}

.descr-wrapper {
    width: 100%;
    padding: 10px;
}

.descr-wrapper h1 {
    margin-top: 0;
}

.orgsList {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.orgsList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orgsList ul li{
    padding: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    min-height: 100px;
    border-left: 3px solid transparent;
    border-bottom:1px solid #eaebf2;
}

.orgsList .org h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.orgsList li:hover {
    background-color: #f7f8fb;
    border-left: 3px solid #1f3a56;
}

.orgsList > p {
    text-align: center;
    margin: 20px 0;
}

.orgsList > p a {
    margin: 10px 0;
    width: 50%;
    background: #607a9f;
    color: #fff;
    padding: 15px;
}

.orgsList > p a:hover {
    background: #26375d;
    text-decoration: none;
}

.org {
    cursor: pointer;
    min-height: 100px;
    padding: 10px;
}

.org a {
    text-decoration: none;
}

.rating {
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 0;
}
.rating .star-item{
    position: relative;
    vertical-align: middle;
    background-image: url(/templates/img/star.png);
    background-repeat: no-repeat;
    display: inline;
    display: inline-block;
    width: 19px;
    height: 19px;
}

.rating .star-item span  {
    display: inline;
    display: inline-block;
    background-image: url(/templates/img/star-full.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}

.search-wrapper {
    padding: 10px 0;
}

.search-wrapper form input[type=text] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-wrapper form input[type=submit] {
    float: right;
    position: relative;
    top: -33px;
    right: 6px;
    color: #fff;
    border-color: #1e3854;
    background-color: #1e3854;
    border-radius: 5px;
}

.search-wrapper form {
    margin:10px;
}

.search-wrapper > p {
    margin: 10px;
}

.search-wrapper > p input {
    float: left;
}
.search-wrapper > p label {
    margin-left: 5px;
}